*.1bpp
*.4bpp
*.8bpp
*.DS_Store
*.bak
*.bat
*.diff
*.dump
*.elf
*.exe
*.fwjpnfont
*.gba
*.sgm
*.sa1
*.sg1
*.gbapal
*.hwjpnfont
*.i
*.id0
*.id1
*.id2
*.idb
*.dmp
*.latfont
*.lz
*.map
*.nam
*.o
*.pcm
*.pl
*.rl
*.s.old
*.s.old2
*.sa*
*.swo
*.swp
*.til
.fuse_hidden*
.idea/
Thumbs.db
build/
cmake-build-*
sound/**/*.bin
sound/songs/midi/*.s
src/*.s
tags
tools/agbcc
tools/binutils
types_*.taghl
*.zip
!calcrom.pl
!sound/programmable_wave_samples/*.pcm
_Deparsed_XSubs.pm
*.py
